LotteryApp/LotteryApp/Service References/LottoService/LotteryService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LotteryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/LotteryService/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/LotteryService/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/LotteryService/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LotteryWcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILotteryService_GetTodaysWinningNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTodaysWinningNumber" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_GetTodaysWinningNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTodaysWinningNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_IsAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAlive" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_IsAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="ILotteryService">
    <wsdl:operation name="GetTodaysWinningNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryService/GetTodaysWinningNumber" message="tns:ILotteryService_GetTodaysWinningNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryService/GetTodaysWinningNumberResponse" message="tns:ILotteryService_GetTodaysWinningNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryService/IsAlive" message="tns:ILotteryService_IsAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryService/IsAliveResponse" message="tns:ILotteryService_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryService/Ping" message="tns:ILotteryService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryService/PingResponse" message="tns:ILotteryService_Ping_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILotteryService" type="tns:ILotteryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTodaysWinningNumber">
      <soap:operation soapAction="http://tempuri.org/ILotteryService/GetTodaysWinningNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <soap:operation soapAction="http://tempuri.org/ILotteryService/IsAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/ILotteryService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LotteryService">
    <wsdl:port name="BasicHttpBinding_ILotteryService" binding="tns:BasicHttpBinding_ILotteryService">
      <soap:address location="http://localhost/LotteryService/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>