LotteryApp/LotteryApp/Service References/LottoService/Service32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LotteryWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LotteryWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LotteryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Jackpot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LotteryInfo" nillable="true" type="tns:LotteryInfo" />
</xs:schema>